<!-- modal-popup.component.html -->
<div class="modal-content">
    <form (ngSubmit)="submitForm()" class="form-container">
      <mat-form-field class="centered-field">
        <mat-label>Item Name</mat-label>
        <input matInput [(ngModel)]="itemName" name="itemName" required />
      </mat-form-field>
  
      <mat-form-field class="centered-field">
        <mat-label>Item Description</mat-label>
        <textarea matInput [(ngModel)]="itemDescription" name="itemDescription"></textarea>
      </mat-form-field>
  
      
  
      <mat-form-field class="centered-field">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <input type="file" (change)="onImageUpload($event)" accept=".jpg, .jpeg, .png" />

      <!-- Action Buttons -->
      <div class="actions">
        <button mat-button (click)="closeModal()">Close</button>
        <button mat-button type="submit">Submit</button>
      </div>
    </form>
  </div>
  