<!-- modal-popup.component.html -->
<div class="modal-content">
    <form (ngSubmit)="submitForm()" class="form-container">
      <mat-form-field class="centered-field">
        <mat-label>Item Name</mat-label>
        <input matInput [(ngModel)]="itemName" name="itemName" required />
      </mat-form-field>
  
      <mat-form-field class="centered-field">
        <mat-label>Item Description</mat-label>
        <textarea matInput [(ngModel)]="itemDescription" name="itemDescription"></textarea>
      </mat-form-field>
  
      
  
      <mat-form-field class="centered-field">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="centered-field">
        <mat-label>Enter Tags</mat-label>
        <input 
          matInput 
          [(ngModel)]="newTag" 
          name="tagInput" 
          (keydown.enter)="addWord(); $event.preventDefault()" />
      </mat-form-field>
    
      <!-- Display Tags
      <div *ngFor="let tag of tagsArray; let i = index" class="tag-item">
        <span>{{ tag }}</span>
        <button mat-icon-button color="warn" (click)="removeWord(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div> -->
      <div class="tags-container">
      <div *ngFor="let tag of tagsArray; let i = index" class="word-item">
        <span>{{ tag }}</span>
        <button 
          mat-icon-button  color="warn" type="button" (click)="removeTag(i); $event.stopPropagation(); $event.preventDefault();">
          <mat-icon>close</mat-icon>
        </button>
        </div>
      </div>
      
      <!-- <input type="file" (change)="onImageUpload($event)" accept=".jpg, .jpeg, .png" /> -->
      <!-- <input type="file" class="file-input" (change)="onImageUpload($event)" accept=".jpg, .jpeg, .png" /> -->
      <!-- <div class="file-input-wrapper">
        <button type="button" class="custom-file-button">Choose File</button>
        <input 
          type="file" 
          class="file-input" 
          (change)="onImageUpload($event)" 
          accept=".jpg, .jpeg, .png" 
        />
      </div> -->
      <!-- <div class="file-input-wrapper">
        <button type="button" class="custom-file-button">Choose File</button>
        <input 
          type="file" 
           
          (change)="onImageUpload($event)" 
          accept=".jpg, .jpeg, .png" 
        />
      </div> -->
      <!-- <button type="button" class="custom-file-button">Choose File</button> -->

        <!-- <input type="file"         
          (change)="onImageUpload($event)" 
          accept=".jpg, .jpeg, .png" 
          class = "custom-file-button"
        /> -->
        <div class="file-input-wrapper">
          <button type="button" class="custom-file-button" (click)="fileInput.click()">Upload Image</button>
          <input 
            #fileInput 
            type="file" 
            (change)="onImageUpload($event)" 
            accept=".jpg, .jpeg, .png" 
            style="display: none;" 
          />
        </div>
        
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview">

      <!-- Action Buttons -->
      <div class="actions">
        <button mat-button (click)="closeModal()">Close</button>
        <button mat-button type="submit">Submit</button>
      </div>
    </form>
  </div>
  