<div *ngIf="user; else loggedOut">
  <div class="user-profile-section">
    <div class="avatar-container" (click)="toggleUserInfo()">
      <img src="../assets/avatar.png" alt="Avatar" class="avatar">
      <!-- <i class="fas fa-user avatar-icon"></i> -->
      </div>

    <div *ngIf="showUserInfo" class="user-info-popup">
      <p style="font-family: Gowun Dodum, serif; font-size: 15px;">Hello, {{ user.email }}!</p>
      <button class="logout-button" (click)="onLogout()">Logout</button>
    </div>
  </div>

  <div class="icon-container">
    <i class="shuffle-icon"><img src="../assets/shuffle.png" width="50" height="40" alt="shuffle-icon"></i>
    <div class="edit-icon"></div>
  </div>

  <div class="basic-container">
    <div class="search-bar-container">
      <input type="text" [(ngModel)]="selectedTag" placeholder="Search for items..." class="search-bar" />
      <button class="search-button" (click)="addTag(selectedTag)">Add</button>
      <button class="clear-button" (click)="clearTags()">Clear</button>
    </div>

    <div class ="tag-container">
      <div class="display-tag" *ngFor="let tag of tags" (click)="deleteTag(tag)"> {{ tag }}</div>
    </div>

    <div class="button-container" style="display: flex; justify-content: flex-end;">
      <button class="button" (click)="selectCategory('top')">Tops</button>
      <button class="button" (click)="selectCategory('bottom')">Bottoms</button>
      <button class="button" (click)="selectCategory('outerwear')">Outerwear</button>
      <button class="button" (click)="selectCategory('accessory')">Accessories</button>
      <button class="button" (click)="selectCategory('shoes')">Shoes</button>
    </div>

     <div *ngIf="searchResults.length > 0" class="search-results">
      <h2>Search Results:</h2>
      <div class="items-grid">
        <div *ngFor="let item of searchResults" class="item-card">
          <img [src]="item.image_url" alt="{{ item.item_name }}" class="item-image">
          <h3>{{ item.item_name }}</h3>
          <p>{{ item.item_desc }}</p>
          <div class="tags">
            <span *ngFor="let tag of item.tags" class="tag">{{ tag }}</span>
          </div>
        </div>
      </div>

    </div>

      <div class="inside-container">
        <div *ngIf="(filteredInventory?.length ?? 0) > 0; else noItems">
          <div class="items-grid">
            <mat-card *ngFor="let item of filteredInventory" class="item-card">
              <button class="card-button" (click)="openDialog(item)">
                <img src="../assets/trash-can.png" alt="Delete Item" class="button-icon">
              </button>
              <mat-card-header>
                <mat-card-title>{{ item.item_name }}</mat-card-title>
              </mat-card-header>

              <img mat-card-image [src]="item.image_url" alt="{{ item.item_name }}">

              <mat-card-content>
                <p>{{ item.item_desc }}</p>
                <div class="tags">
                  <span *ngFor="let tag of item.tags" class="tag">{{ tag }}</span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <ng-template #noItems>
          <p style = "text-align: center; margin-top: 40px;">No {{selectedCategory}} available at the moment.</p>
        </ng-template>
      </div>


    </div>
  </div>


<ng-template #loggedOut>
  <div class="auth-container">
    <h1>Welcome to StyleMe!</h1>
    <div *ngIf="isSignUp" class="auth-card">
      <h2>Sign Up</h2>
      <div class="toggle-buttons">
        <button class="toggle-button" [class.active]="isSignUp" (click)="switchToSignup()">Sign Up</button>
        <button class="toggle-button" [class.active]="!isSignUp" (click)="switchToLogin()">Login</button>
      </div>
      <form (ngSubmit)="onRegister(registerEmail.value, registerPassword.value, $event)">
        <input #registerEmail type="email" placeholder="Email" required />
        <input #registerPassword type="password" placeholder="Password" required />
        <button type="submit" (click)="onRegister(registerEmail.value, registerPassword.value, $event)">Sign Up</button>
      </form>
      <div class="or-section">
        <span>OR</span>
      </div>

      <div class="social-icons">
        <button (click)="onGoogleSignIn($event)">
          <img src="../assets/google-icon.png" width="100" height="80" alt="Google" />
        </button>
      </div>
    </div>

    <div *ngIf="!isSignUp" class="auth-card">
      <h2>Login</h2>
      <div class="toggle-buttons">
        <button class="toggle-button" [class.active]="isSignUp" (click)="switchToSignup()">Sign Up</button>
        <button class="toggle-button" [class.active]="!isSignUp" (click)="switchToLogin()">Login</button>
      </div>
      <form (ngSubmit)="onLogin(loginEmail.value, loginPassword.value, $event)">
        <input #loginEmail type="email" placeholder="Email" required />
        <input #loginPassword type="password" placeholder="Password" required />
        <label style = "font-family: Gowun Dodum, serif;">
          <input type="checkbox"/> Remember Me
        </label>
        <button type="submit" (click)="onLogin(loginEmail.value, loginPassword.value, $event)">Login</button>
      </form>
      <div class="or-section">
        <span>OR</span>
      </div>

      <div class="social-icons">
        <button (click)="onGoogleSignIn($event)">
          <img src="../assets/google-icon.png" width="100" height="80" alt="Google" />
        </button>
      </div>
    </div>


  </div>

</ng-template>
