<div *ngIf="user; else loggedOut">
    Welcome, {{ user.email }}!
    <button (click)="onLogout()">Logout</button>
  </div>
  <ng-template #loggedOut>
    <form (ngSubmit)="onLogin(loginEmail.value, loginPassword.value, $event)">
        <input #loginEmail type="email" placeholder="Email" required />
        <input #loginPassword type="password" placeholder="Password" required />
        <button type="submit" (click)="onLogin(loginEmail.value, loginPassword.value, $event)">
            Login
          </button>
      </form>
      <form (ngSubmit)="onRegister(registerEmail.value, regsisterPassword.value, $event)">
        <input #registerEmail type="email" placeholder="Email" required />
        <input #regsisterPassword type="password" placeholder="Password" required />
        <button type="submit" (click)="onRegister(registerEmail.value, regsisterPassword.value, $event)">
            Register
          </button>
      </form>
      
      
  </ng-template>