/* delete-popup.component.css */

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50%;
    background-color: #e3cacf;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    border-radius: 16px;
  }
  
  .centered-title {
    text-align: center;
    margin-bottom: 16px;
  }

  h2 {
    text-align: center;
    font-family: "Gowun Dodum", serif;
  }
  
  .centered-content {
    text-align: center;
    margin-bottom: 24px;
  }

  p {
    text-align: center;
    font-size: 16px;
    font-family: "Gowun Dodum", serif;
  }
  
  .actions {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px;
  }
  
  .actions button {
    border-radius: 8px; 
    padding: 8px 16px;
  }
  
  
  .actions button[color="warn"] {
    background-color: #9EBD9E; 
    border: 1px solid #344E41;
    color: #344E41;
    font-family: "Gowun Dodum", serif;
  }
  
  .actions button[color="warn"]:hover {
    background-color: #344E41;
    color: #ffff;
    font-family: "Gowun Dodum", serif;
  }
  

  .actions button:not([color="warn"]) {
    background-color: #F7A1A5;
    border: 1px solid #B80000;
    color: #B80000;
    font-family: "Gowun Dodum", serif;
  }

  .actions button:not([color="warn"]):hover {
    background-color: #B80000;
    color: #ffff;
    font-family: "Gowun Dodum", serif;
  }
