<p>shuffle works!</p>

<!-- pop up (Card) to add tags (using jonathans code)
add tags with each enter (lets try)
make a function that picks a random item
on left side of screen, should be the items displayed -->
<div class="items-grid">
    <div *ngFor="let item of searchResults" class="item-card">
        <img [src]="item.image_blob" alt="{{ item.item_name }}" class="item-image">
        <h3 style="font-family: Gowun Dodum, serif;">{{ item.item_name }}</h3>
        <p>{{ item.item_desc }}</p>
        <div class="tags">
            <span *ngFor="let tag of item.tags" class="tag">{{ tag }}</span>
        </div>
    </div>
</div>

<!-- this is jonathans code -->
<mat-dialog-content>

    <div class="search-bar-container">
        <input type="text" [(ngModel)]="selectedTag" placeholder="Search for items..." class="search-bar" />
        <!-- Use: when typing (input)="selectTag(selectedTag)" -->
        <button class="search-button" (click)="addTag(selectedTag)">Add</button>
        <button class="clear-button" (click)="clearTags()">Clear</button>
    </div>

    <div class="tag-container">
        <div class="display-tag" *ngFor="let tag of tags" (click)="deleteTag(tag)"> {{ tag }}</div>
    </div>

    <div class="confirmation">
        <button (click)="shuffle()">OK</button>
    </div>

</mat-dialog-content>